 @font-face{
   font-family: 'Cinzel-Bold';
   src: font-url('Cinzel-Bold.ttf') format('truetype');
 }
@font-face{
	font-family: 'Aller';
	src: font-url('Aller_Bd.ttf') format('truetype');
}
@font-face{
	font-family: 'Montserrat';
	src: font-url('Montserrat-Medium.otf') format('truetype');
}
