#layout_error{
  text-align: center;
  .e_title{
    font-family: NotoSansJP-Bold;
    font-weight: bold;
    font-size: 50px;
    margin: 200px 0 80px;
    @media (max-width: 767px){
      font-size: 30px;
      margin: 60px 0 30px;
    }
  }
  .e_msg{
    line-height: 2.25;
    font-weight: 300;
    font-size: 15px;
    a {
      font-weight: bold;
    }
    @media (max-width: 767px){
      font-size: 12px;
    }
  }
}
